/* common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
  ;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both; 
}

/* debug section */
.debug#header-top{
  height: 100px;
  background-color:#e0ffcd;
}

.debug#header-bottom{
  height: 300px;
  background-color:#fdffcd;
}

nav.debug {
  height: 60px;
  background-color: #ffebbb;
}

#aside-left.debug {
  height: 300px;
  background-color: #ffebbb;
}

/* header - header top */
#header-top { 
  width: 80%;
  margin: 20px auto;
}

/* header - header bottom */
#header-bottom {
  width: 80%;
  margin: 0 auto 20px auto;
}

/* main */
main {
  width: 80%;
  background-color: #fcda8d;
  margin: 0 auto;
}

/* main - nav */
nav {
  width: 100%;
  margin-bottom: 20px;
}

/* main - aside left */
#aside-left {
  width: 20%;
  margin: 0 auto;
  float: left;
}